@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url('/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7); /* Weiß mit 70% Deckkraft */
  z-index: -1;
}

.content-wrapper {
  position: relative;
  z-index: 1;
}