@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f3f4f6; /* Ein leichtes Grau als Hintergrundfarbe */
}

.content-wrapper {
  position: relative;
  z-index: 1;
}